<link rel="stylesheet" href="../Content/style.css" type="text/css">
@using Catan_Asp._Net.Models;
@model Catan_Asp._Net.Models.Viewmodel.CatanViewmodel
@{
    ViewBag.Title = "Catan";

    string px = "px";
}



<body>
    <div class="box">
    </div>

    <div class="save-container">
        @foreach (Save save in Model.Saves)
            {
               <div class="saves">
                   <form>
                       <p>@save.Name</p>
                       <p>@save.Time.ToString("dd-MM-yyyy")</p>
                       <input class="ctn-btn" type="submit" value="Load">
                   </form>
               </div>
            }
    </div>

    <div class="backgroundHexagonPosition">
        <div class="backgroundHexagonLeft"></div>
        <div class="backgroundHexagonMiddle"></div>
        <div class="backgroundHexagonRight"></div>
    </div>

    <div class="grid-container">

        @foreach (HexagonTile hexagon in Model.Hexagons)
        {
            <div id="@hexagon.Id" class="item7" style="margin-top:@hexagon.Margin_top@px; margin-left:@hexagon.Margin_left@px"></div>
            if (hexagon.Id != "hexagonblue")
            {
            <div class="circle-text" style="margin-top:@hexagon.Margin_top@px; margin-left:@hexagon.Margin_leftNumbers@px">
                @if (hexagon.Id != "hexagondesert")
                {
                <p class="number_position" style="font-size:@hexagon.Font_size@px; color:@hexagon.Color">@hexagon.Number</p>
                }
                <p class="dot_position">@hexagon.Hexagonnumber</p>
                @if (hexagon.Class == "rover")
                {
                    <img class="@hexagon.Class" src="~/Images/rover.jpg" alt="rover" width="25" height="40" style="margin-top:14px">
                }
            </div>
            }
            else
            {
                if (hexagon.Image != null)
                {
                    <div class="circle-text" style="margin-top:@hexagon.Margin_top@px; margin-left:@hexagon.Image_Margin_left@px">
                        <img src=@hexagon.Image style="max-width:170%; max-height:170%; margin-top:-9px" />
                    </div>
                }
            }
        }
    </div>
</body>
